#about {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin-bottom: 40px;
}

#about h4 {
  margin-bottom: 15px;
}


#about img {
  height: 400px;
  object-fit: cover;
  margin-right: 30px;
}

#about p {
  color: #777777;
}

.about-content {
  display: flex;
  padding-top: 37px;
}

.about-content a {
  text-decoration: underline;
  color: #777777;
}
