#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  margin-bottom: 40px;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-title h4 {
  margin-bottom: 15px;
}


#about img {
  height: 400px;
  object-fit: cover;
  margin-right: 30px;
}

#about p {
  color: #777777;
}

.about-content {
  display: flex;
  padding-top: 37px;
}

.about-content a {
  text-decoration: underline;
  color: #777777;
}

@media (max-width: 768px) {
  #about {
    display: flex;
    flex-direction: column;
  }

  #about img {
    height: 300px;
    width: 250;
    margin-bottom: 1em;
    object-fit: cover;
    margin-right: 0;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 1.1em;
    padding: 20px;
  }
}
