.contact-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.contact-content {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.contact-content a {
  text-decoration: none;
  color: #fff;
  border-radius: 10%;
  background-color: #212529;
  margin: 0 0.4rem;
}

.contact-content i {
  font-size: 30px;
}
