.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #FCFCFC;
}

.navbar.hide {
  transform: translateY(-100%);
}

.my-name {
  font-size: 16px;
  margin-bottom: 0;
}

.navbar a {
  text-decoration: none;
  color: dimgray;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}

.navbar a:hover {
  color: black;
  transition: 0.5s;
}


