.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 2%;
  /*border-bottom: 1px solid #909090;*/

}

.my-name {
  font-size: 16px;
  margin-bottom: 0;
}

.navbar-links {
  margin-bottom: 0;
  text-transform: uppercase;
}

.navbar-links li {
  display: inline;
  margin-left: 30px;
  font-size: 16px;
}

.navbar a {
  text-decoration: none;
  color: dimgray;
  font-family: 'Work Sans', sans-serif;
}

.navbar a:hover {
  color: black;
  transition: 0.5s;
}
